html{
    background: #E3ED9D;
}
.container{
    display: grid;
    grid-auto-columns: minmax(15rem,auto);
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
    grid-gap: 1rem;
}
.item{
    background: white;
    border: 3px solid black;
    color: #a579cc;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
}